Data types and structure

1.What are data structures, and why are they important?  
->>Data structure is a way to organized and store a data in a computer so that bit can be used effeciently.

2.Explain the difference between mutable and immutable data types with examples?

->>Mutable:1)object can be chnanged after they are created
           2)it can be modify like add,remove etc
   immutable:1)object can not be changed after they are created
             2)if you want to modify them,you have to create new object

3.What are the main differences between lists and tuples in Python?  
->> list: A list is a mutable it can be change the element ,add ,remove etc
    tuple: A tuple is immutable and it can not be change ,it can take all type of elemets

4.Describe how dictionaries store data?  
->> dictionaries store data as key- value pairs, where each key is uniqueand points to a value .The data is accessed using the key.

5 . Why might you use a set instead of a list in Python?
->>Sets are used when you need to store unique elelments and performs fast membership tests.Sets automatically remove duplicates.

6.What is a string in Python, and how is it different from a list?  
->> A string is a sequence of characters and is immutable , whereas a list is a sequence of any data types and is mutable

7 . How do tuples ensure data integrity in Python?
->> Since tuple are immutable,their content cannot be changed,ensuring the data inside remains consistent and uncharged.

8 . What is a hash table, and how does it relate to dictionaries in Python?
--> A hash table is a data stucture that uses hash function to map keys to values.Python dictionaries are implemented as hash tables.

9 . Can lists contain different data types in Python?

--> yes ,lists can conatain items of mixed data types,like integers,strings,and even other list or objects.

10.Explain why strings are immutable in Python?

--> String are immmutable so they can be shared among code,are memeory efficient,and prevent accidental changes.

11.What advantages do dictionaries offer over lists for certain tasks?

--> Dictionaries provides fast access to data when you know the key,making them ideal for lookup tables, whereas list require searching through elements.

12.Describe a scenario where using a tuple would be preferable over a list?

->> when storing a fixed set of values that should not change ,such as coordinaes(x,y) or  items used as dictionary keys.

13.How do sets handle duplicate values in Python?

->>Sets automatically remove duplicate  value and only store unique elements.

14 .How does the “in” keyword work differently for lists and dictionaries?

-->In list ,in checks if a value exists among the list items.
In dictionaries, in checks if a key exists.

15 . Can you modify the elements of a tuple? Explain why or why not?

->>No, tuples are immutable -once creates,their elemets cannot be changed.

16  . What is a nested dictionary, and give an example of its use case?

--> A nested dictionary inside another dictionary,,useful for with compllex data like student records.

17 . Describe the time complexity of accessing elements in a dictionary?

--> Accessing elements by key in a dictionary is 0(1) on average (very fast constant time)

18 .In what situations are lists preferred over dictionaries?

->> when order matters and/or you only care about storing values without associated keys,especially for ordered sequences.

19 . Why are dictionaries considered unordered, and how does that affect data retrieval?

--> until python 3.7 dictionaries were unordered,meaning the order of items could change.Now order is preserved (from python 3.7+),but retrieval is still by key ,not bt position

20 . Explain the difference between a list and a dictionary in terms of data retrieval?

-->Lists:Retrieve items by index position(0,1,2)
   Dictionary:Retrieve item by key.

***Pracrical question***

In [ ]:
 # 1.Write a code to create a string with your name and print it?
name="your name"
print(name)

your name

In [ ]:
# 2.  Write a code to find the length of the string "Hello World"?
s="Hello Worls"
print(len(s))

11

In [2]:
# 3.Write a code to slice the first 3 characters from the string "Python Programming?
s="Python Programming"
print(s[:3])

Pyt

In [3]:
# 4. Write a code to convert the string "hello" to uppercase
# Original string
text = "hello"

# Convert to uppercase
uppercase_text = text.upper()

# Print the result
print(uppercase_text)

HELLO

In [4]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple
# Original string
text = "I like apple"

# Replace "apple" with "orange"
new_text = text.replace("apple", "orange")

# Print the result
print(new_text)

I like orange

In [5]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
# Create a list using range
numbers = list(range(1, 6))

# Print the list
print(numbers)

[1, 2, 3, 4, 5]

In [6]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
# Original list
numbers = [1, 2, 3, 4]

# Append the number 10 to the list
numbers.append(10)

# Print the updated list
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
# Original list
numbers = [1, 2, 3, 4, 5]

# Insert number 6 at the end of the list
numbers.append(6)
# remove number 3 in the list number
numbers.remove(3)

# Print the updated list
print(numbers)

[1, 2, 4, 5, 6]

In [9]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
# Original list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1, since indexing starts from 0)
second_element = letters[1]

# Print the second element
print(second_element)

b

In [10]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]
# Original list
numbers = [10, 20, 30, 40, 50]

# Reverse the list
numbers.reverse()

# Print the reversed list
print(numbers)

[50, 40, 30, 20, 10]

In [11]:
# 11. . Write a code to create a tuple with the elements 100, 200, 300 and print it
# Create a tuple with the given elements
numbers = (100, 200, 300)

# Print the tuple
print(numbers)

(100, 200, 300)

In [12]:
# 12. . Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
# Original tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element (index -2)
second_last = colors[-2]

# Print the second-to-last element
print(second_last)

blue

In [13]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
# Define the tuple
numbers = (10, 20, 5, 15)

# Find the minimum number
minimum_number = min(numbers)

# Print the result
print(minimum_number)

5

In [14]:
# 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
# Original tuple
animals = ('dog', 'cat', 'rabbit')

# Find the index of "cat"
index_of_cat = animals.index('cat')

# Print the index
print(index_of_cat)

1

In [15]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
# Create a tuple with three different fruits
fruits = ("apple", "banana", "mango")

# Check if "kiwi" is in the tuple
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [16]:
# 16.. Write a code to create a set with the elements 'a', 'b', 'c' and print it
# Create a set with the given elements
my_set = {'a', 'b', 'c'}

# Print the set
print(my_set)

{'a', 'c', 'b'}

In [17]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
# Original set
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

# Print the set after clearing
print(my_set)

set()

In [18]:
# 18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
# Original set
my_set = {1, 2, 3, 4}

# Remove the element 4 from the set
my_set.remove(4)

# Print the updated set
print(my_set)

{1, 2, 3}

In [19]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
# Define the two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union using the union() method
union_set = set1.union(set2)

# Print the union
print(union_set)

{1, 2, 3, 4, 5}

In [20]:
# 20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
# Define the two sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection using intersection() method
intersection_set = set1.intersection(set2)

# Print the intersection
print(intersection_set)

{2, 3}

In [21]:
# 21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it
# Create a dictionary with the given keys
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

# Print the dictionary
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [22]:
# 22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
# Original dictionary
person = {'name': 'John', 'age': 25}

# Add the new key-value pair
person['country'] = 'USA'

# Print the updated dictionary
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
# Original dictionary
person = {'name': 'Alice', 'age': 30}

# Access the value associated with the key "name"
name_value = person['name']

# Print the value
print(name_value)

Alice

In [24]:
# 24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
# Original dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key "age" from the dictionary
del person['age']

# Print the updated dictionary
print(person)

{'name': 'Bob', 'city': 'New York'}

In [25]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
# Original dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Check if the key "city" exists
if "city" in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [26]:
# 26.Write a code to create a list, a tuple, and a dictionary, and print them all.
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {
    'name': 'Alice',
    'age': 25,
    'city': 'New York'
}

# Print them all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [27]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced)
import random

# Generate a list of 5 unique random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print(random_numbers)

[40, 78, 80, 87, 94]

In [28]:
# 28. Write a code to create a list with strings and print the element at the third index
# Create a list of strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Print the element at the third index (index 3)
print(my_list[3])

date

In [29]:
# 29.Write a code to combine two dictionaries into one and print the result
# Define two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
# 30.Write a code to convert a list of strings into a set.
# Create a list of strings
string_list = ["apple", "banana", "cherry", "apple"]

# Convert the list into a set
string_set = set(string_list)

# Print the set
print(string_set)

{'apple', 'cherry', 'banana'}